{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta keywords="" content="creation de site web maroc, web design agence au Maroc"></meta>
    <meta name="description" content="Agence de creation des Sites Web au Maroc pour les entreprises qui cherchent à améliorer leur présence en ligne et à attirer des clients de grande valeur ">
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon-logo.svg' %}">
    <link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
    <title>Blog | Webstooone.</title>
</head>
<link rel="stylesheet" href=" {% static 'css/blog.css' %} ">
<body>
    <nav class="navigation">
        <a href="{% url 'index' %}"><img src="{% static 'images/logo.svg' %}" alt="logo"></a>
        <div class="menu">
        <ul>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'portfolio' %}">Portfolio</a></li>
            <li><a href="{% url 'blog' %}">Blog</a></li>
            <li><a href="{% url 'contact' %}">Contact Us</a></li>
        </ul>
        <a href="" class="consultation" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/marouan-kaboul/consultation-call'});return false;">Get your Free 20 min Consultation</a>

        </div>
        <div class="hamburger" onclick="toggleMenu()">
            <svg clip-rule="evenodd" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m22 16.75c0-.414-.336-.75-.75-.75h-18.5c-.414 0-.75.336-.75.75s.336.75.75.75h18.5c.414 0 .75-.336.75-.75zm0-5c0-.414-.336-.75-.75-.75h-18.5c-.414 0-.75.336-.75.75s.336.75.75.75h18.5c.414 0 .75-.336.75-.75zm0-5c0-.414-.336-.75-.75-.75h-18.5c-.414 0-.75.336-.75.75s.336.75.75.75h18.5c.414 0 .75-.336.75-.75z" fill-rule="nonzero"/></svg>
        </div>
    </nav>

    <section class="section1">

        <div>
            <h1 class="blog">Resources & Articles</h1>
        </div>


    <section class="section2">

    {% if blogi %}
        {% for blog in blogi %}
        <div class="article">
                <a href="{% url 'blogpage' blog.slug %}">
                    <img class= "imgblog" src="{{blog.blogimage.url}}" alt="">
                </a>
                <div class="bottom">
                    <span>{{blog.tag}}</span>
                <a href="{% url 'blogpage' blog.slug %}">
                    <h3>{{blog.h1_title}}</h3>
                </a>
                    <p>{{blog.meta_description|slice:":120"}}</p>
                </div>      
                           
        </div>
        {% endfor %}
        {% else %}
        <p class="messagearticle">{{ message }}</p>
    {% endif %}  
    </section>
    </section>
        <!-- footer section start-->
        <footer class="footer">
            <div class="element-top">
                <a href="{% url 'index' %}" aria-label="page d'Accueil lien"><img src="{% static 'images/logo.svg' %}" alt="logo"></a>
                <div class="links">
                    <a aria-label="linkedin lien" href="https://www.linkedin.com/in/marouan-kaboul/" target="_blank">Linkedin</a>
                    <a aria-label="tiktok lien" href="https://www.tiktok.com/@marouan.pat?is_from_webapp=1&sender_device=pc" target="_blank">Tiktok</a>
                </div>
                <div class="icons-social">
                    <a aria-label="linkedin lien" href="https://www.linkedin.com/in/marouan-kaboul/" target="_blank">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-11 19h-3v-11h3v11zm-1.5-12.268c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zm13.5 12.268h-3v-5.604c0-3.368-4-3.113-4 0v5.604h-3v-11h3v1.765c1.396-2.586 7-2.777 7 2.476v6.759z"/></svg>
                    </a>
                    <a aria-label="tiktok lien" href="https://www.tiktok.com/@marouan.pat?is_from_webapp=1&sender_device=pc" target="_blank"><img src="{% static '/images/tiktok-icon.svg'%}" alt="tiktok icon"></a>
                    
                </div>
            </div>
            <div>
                <hr class="lineS">
            </div>
            <div class="rights">
                <p>© 2024 All right reserved. Founded by Marouan Kaboul</p>
            </div>
        </footer>
    
        <script defer src="{% static '/js/app.js' %}"></script>
        <script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
</body>
</html>